.navbar {
    padding: 1rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.navbar a {
    text-decoration: none;
    padding: 1rem;
    font-weight: 600;
    color: black;
    
}

.navbar a:hover {
    color: rgba(126, 58, 189, 0.658);
    cursor: pointer;
}

.navbar a:active {
    border-bottom: 1px solid;
}

.button {
    background-color: rgba(126, 58, 189, 0.658);
    padding: 0.5rem 2rem;
    border: none;
    color: white;
    font-weight: 600;
    align-items: center;
    font-size: 14px;
    margin-bottom: -10px;
}