.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    padding: 1rem;
    font-weight: 600;
    color: black;
}

.navbar a:hover {
    color: rgba(126, 58, 189, 0.658);
    cursor: pointer;
}

.navbar a:active {
    border-bottom: 1px solid;
}

.button {
    background-color: rgba(126, 58, 189, 0.658);
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}