.header {
    padding: 1rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header a {
    text-decoration: none;
}

.logo {
    width: 60px;
    height: 50px;
}

.rightContent {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.info {
    text-align: right;
    margin: 0;
    padding: 0;
}

.verticalLine {
    border-left: 1px solid purple;
    height: 60px;
}

.info2 h2{
    font-size: 24px;
    font-weight: bold;
}

.info2 p{
    font-size: 16px;
}