* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 14px;
    box-sizing: border-box;
}

.container {
    margin-left: 12rem;
    margin-right: 12rem;
}

.content {
    background-color: rgb(224, 224, 224);
    margin: 0 -12rem;
    padding: 0 12rem;
    min-height: 100vh;
    position: relative;
}

@media (max-width: 1200px) {
    .container {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .content {
        margin: 0 -6rem;
        padding: 0 6rem;
    }
}

@media (max-width: 768px) {
    .container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .content {
        margin: 0 -2rem;
        padding: 0 2rem;
    }
}